# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.cs]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Most frequently used .NET-coding-convention properties are supported
csharp_space_between_parentheses = expressions, type_casts, control_flow_statements
csharp_style_var_for_built_in_types = true

# dotnet_diagnostic rules are supported
dotnet_diagnostic.CS1058.severity = hint

# JetBrains Rider custom properties for code formatting styles
resharper_csharp_brace_style = next_line
resharper_csharp_blank_lines_around_invocable = 2

# JetBrains Rider custom properties for code syntax styles
csharp_default_private_modifier = explicit
braces_for_ifelse = not_required

# JetBrains Rider custom properties for code inspections
resharper_possible_null_reference_exception_highlighting = error
resharper_replace_with_string_is_null_or_empty_highlighting = none

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
